

<mat-sidenav-container fullscreen>
  <mat-sidenav [mode]="mobileQuerMax.matches ? 'over' : 'side'" #sidenav [opened]="mobileQuerMax.matches ? false : true">
    <app-side-nave></app-side-nave>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [media_query]="mobileQuerMax.matches" (navtoggle)="sidenav.toggle()" ></app-header>
    <!-- <app-header (navtoggle)="sidenav.toggle()" (pass)="passalert($event)"></app-header> -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




<!-- <div class="card border-primary w-50 mx-auto">
  <img class="card-img-top p-4" src="https://www.yespetshop.com/private_folder/kitten-1.jpg" alt="">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Text</p>
  </div>
</div> -->
<!-- 
<div class="d-flex flex-row justify-content-around p-2 bd-highlight">
  <div style="background-color: red;">tttttt</div>
  <div style="background-color: blue;">ccccccc</div>
  <div style="background-color: black;">jjjjjjjj</div>
</div> -->
